.jumbotron{
	margin-left: 15%;
	margin-right: 15%;
	padding: 30px;
	background: white;
}

body{
	background: #999; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #000); /* for firefox 3.6+ */
	background-repeat: no-repeat;
	min-height: 1200px;
	margin-top: 60px
}

.form-group {
	padding-top: 60px;
	/*width: 80%;*/
}

.searchButton {
	/*float: right;*/
	margin-top: 30px;
}

.searchStuff {
	text-align: center;
}

/*.advancedSearch {
	width: 100% !important;
}*/
/*.dropdown-toggle {
	padding: 16.5px;
}*/
.caret{
	border-bottom: 4px dashed;
	border-top: none;
}

.advancedInput {
	background-color: rgb(220,219,217);
	margin-top: 20px;
}

.addItem {
	border: 1px solid white;
	height: auto;
	min-height: 200px;
	background: rgba(128,0,128,0.5)
}

#moe {
	margin-right: 0px;
	margin-left: 0px; 
}

.bootstrap-tagsinput{
	/*height: 70px;*/
	line-height: 200%;
	margin: 20px;
	/*width: 80%;*/
}

.advancedLabel {
	margin-top: 10px;
}

#country{
	margin-top:10px;
}

#country, #latitude, #longitude{
   margin-bottom: 5px;
}

#isCountry{
	display:block;
}

#isCoord{
	display: none;
}

.boxWithMargin5{
	margin: 5px;
}

.LabelCheck{
	color: green;
	font-size: 20px;
}

#logo_holder{
	margin: 40px;
}