body{
	background: #eee; /* for non-css3 browsers */
	background-repeat: no-repeat;
	min-height: 1200px;
	margin-top: 60px
}

.lightGreen{
	background-color: #C7FFC9;
}

.green{
	background-color: green;
}

.yellow{
	background-color: #FFFFBD;
}

.orange{
	background-color: #FFD07A;
}

.red{
	background-color: #FF8B8B;
}