body{
    background: #eee; /* for non-css3 browsers */
    background-repeat: no-repeat;
    min-height: 1200px;
    margin-top: 60px
}


.lightGreen{
    background-color: #C7FFC9;
}

.green{
    background-color: green;
}

.yellow{
    background-color: #FFFFBD;
}

.orange{
    background-color: #FFD07A;
}

.red{
    background-color: #FF8B8B;

/*.btn{
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    margin-left: 2px !important;
    padding: 2px 2px !important;
}*/

.hashtagPad{
    margin-top: 1px; margin-bottom: 1px; margin-left: 2px; padding: 2px 2px;    
}