<!-- 					<tags-input ng-model="tags">
					  <auto-complete source="loadItems($query)"></auto-complete>
					</tags-input> -->
<div style="text-align: center; width :60%; margin:auto">
	<div class="row">
	  	<!-- <div class="col-md-4"></div> -->
	  	<div class="col-md-5" id="logo_holder"><img src="../images/logo1.png" alt="wildcard logo"></div>
	  	<!-- <div class="col-md-3"></div> -->
	</div>
	</div>
	  	<div class="row">
	  	<div class="col-md-4"></div>
	  	<div class="col-md-7"><p style="margin-left:8%">A multi-faceted search engine for Twitter, Tumblr and Flickr data.</p>
	</div>

	<div>
		<input class="form-control" id="focusedInput" placeholder="Search for something..." type="text" name="query_sent" style="width:480px">
	</div>

	<div style="width:80%" class="row">
		<div class="col-md-2"></div>
		<div class="advancedSearch searchStuff" class="col-md-8">
			<div class="row">
				<div class="col-md-3 addItem">
					<div></div>
				</div>
				<div class="col-md-3 addItem">
					<div></div>
				</div>
				<div class="col-md-3 addItem">
					<div></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 addItem">
					<div></div>
				</div>
				<div class="col-md-3 addItem">
					<div></div>
				</div>
				<div class="col-md-3 addItem">
					<div></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 addItem">
					<div></div>
				</div>
				<div class="col-md-4 addItem">
					<div></div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<datepicker>
  <input ng-model="date" date-format="MMMM d, y" class="offset-left2" type="text"/>
</datepicker>