<canvas id="hashtagChart" class="chart chart-doughnut"
  chart-data="hashtagData" chart-labels="hashtagLabels" chart-legend="true"> chart-series="series"
</canvas>

<canvas id="langChart" class="chart chart-doughnut"
  chart-data="langData" chart-labels="langLabels" chart-legend="true"> chart-series="series"
</canvas>

<canvas id="locationChart" class="chart chart-doughnut"
  chart-data="locationData" chart-labels="locationLabels" chart-legend="true"> chart-series="series"
</canvas>

<canvas id="emotionChart" class="chart chart-doughnut"
  chart-data="emotionData" chart-labels="emotionLabels" chart-legend="true"> chart-series="series"
</canvas>