<!-- <div>
    <img src=""
</div> -->




<!-- <section style="margin:50px">
    <div  ng-repeat="result in resultData.response.docs">
        <h2>{{result.lang}}</h2>
    </div>    
</section> -->

<!-- <div class="Cumulative">

<p> Results for {{resultData.responseHeader.params.q.text_en}}  {{resultData.responseHeader.params.q.text_en}}  {{resultData.responseHeader.params.q.text_en}}</p> 
</div> -->
<div class="container">
<div class = "consolidated_result" style="margin-top:40px">
 <div class="row">
 <div class="col-md-8">
 <h2 style="margin-left:10%;margin-top:2%"> Results for {{queryHolder}} </h2>
 <p style="margin-left:10%;margin-top:2%"> Total {{resultData.response.numFound}} results were found in {{resultData.responseHeader.QTime}} seconds </p>
 </div>
 <div class="col-md-4">
     
 </div>
</div>
</div>

<div class="row">
<div class="col-md-6">
<div ng-repeat="result in resultData.response.docs"
     style="margin-top:20px;" 
     ng-class="{'Positive':'lightGreen', 'Negative':'orange', 'Very negative':'red', 'Very positive':'green', 'Neutral':'yellow'}[result.emotion]">
     <!-- <h3 class="r"><a ng-href="{{result.source}}" >{{result}}</a></h3> -->
   <!--
    <div class="rc" data-hveid="41">
        <h3 class="r"><a ng-href="{{result.source}}" >{{result.source}}</a></h3>
        <h3 class="r"><a ng-href="{{result.source}}" >{{result}}</a></h3>
        <div class="s">
            <div>
                <h2><span class="st">{{result.id}}</span></h2>
                <a ng-href="{{result.images[0]}}"><img ng-src="{{result.images[0]}}"/></a>
                <div ng-repeat="url in result.url">
                    <a ng-href="{{url}}">{{url}}</a>
                </div>
                <div ng-repeat="url in result.images">
                    <a ng-href="{{url}}">{{url}}</a>
                </div>
                <a class="btn btn-primary" ng-repeat="tag in result.hashtags" ng-href="#/tags/{{tag}}"> {{tag}}  </a>
                <span class="st">{{result.text_en}}{{result.text_es}}{{result.text_fr}}{{result.text_ar}}</span>
            </div>
        </div>
    </div> --> 
        <div style = "border-style: solid; border-color: grey; width:auto; height:200px">
        <div style="max-width:60%;float:left">
            <h4>{{result.text_en | limitTo: 140}} {{result.text_en.length > 140 ? '...' : '.' }}</h4>
        </div>
        <div style="width:40%;float:right;margin-top:15px">
        <p> Source : {{result.source}}</p>
        </div>
        </div>
</div>
</div>
<div class="col-md-2"></div>
<div class="col-md-4" style="border-style: solid; border-color: grey; height:800px"></div>
</div>
</div>